html,body{
    height: 100%;
}
/* page d'accueil */
#homepage{
    background-image: url(../img/puzzle2.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
@media (min-width: 768px){
    #homepage{
        font-size: 30px;
    }
}
#menu{
    font-family: 'Roboto', sans-serif;
}
#about{
    font-family: 'Roboto', sans-serif;
}

.formation,.skills,.experience,.realisation{
    font-family: 'Roboto', sans-serif;
}
.formationSubtitle{
    font-size: 20px;
}
.formationContent{
    font-size: 19px;
}

.formationName,.formationDetails{
    background-color: #EBEBEB;
}
.formationDate{
    background-color:#832232;
    color:white; 
}
.reddot{
    height: 30px;
    width: 30px;
    background-color: black;
    border: 5px solid #EBEBEB;
    border-radius: 15px;
    position: absolute;
}
.left-dot{
    left: -15px;
    
}
.right-dot{
    top: 7px;
    right: -15px;
    z-index: 1;
}

.label{
    background-color: black;
    color: white;
}
.skillName{
    background-color: black;
    color: cornsilk;
}
h5{
    font-size: 20px;
    margin: 0px;
    
}
.experienceContent{
    box-shadow: 3px 3px 5px 0px;
    border-radius: 5px;
    background-color: #EBEBEB;
}
.sectionTitle,.aboutTitle,.formationTitle,.skillsTitle,.experienceTitle{
    color:#832232;
}

.skills,.about,.realisation{
    background-color: #EBEBEB;
}

