html,body{
    height: 100%;
}
/* page d'accueil */
#homepage{
    background-image: url(../img/puzzle2.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
@media (min-width: 768px){
    #homepage{
        font-size: 30px;
    }
}
#menu{
    font-family: 'Roboto', sans-serif;
}
#about{
    font-family: 'Roboto', sans-serif;
}
.aboutTitle,.formationTitle,.skillsTitle,.experienceTitle{
    background-color: #b9a06b;
}
.formation,.skills,.experience{
    font-family: 'Roboto', sans-serif;
}
.formationSubtitle{
    font-size: 20px;
}
.formationContent{
    font-size: 19px;
}

.formationName,.formationDetails{
    background-color: #f6efec;
}
.formationDate{
    background-color:#b9a06b; 
}
.reddot{
    height: 30px;
    width: 30px;
    background-color: black;
    border: 5px solid #f6efec;
    border-radius: 15px;
    position: absolute;
}
.left-dot{
    left: -15px;
    
}
.right-dot{
    top: 7px;
    right: -15px;
    z-index: 1;
}

.label{
    background-color: black;
    color: white;
}
.skillName{
    background-color: black;
    color: cornsilk;
}