html,body{
    height: 100%;
}
/* page d'accueil */
#homepage{
    background-image: url(../img/puzzle2.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Special Elite", cursive;
    font-size: 20px;
}
@media (min-width: 768px){
    #homepage{
        font-size: 30px;
    }
}
#menu{
    font-family: "Special Elite", cursive;
}
#about{
    font-family: "Special Elite", cursive;
}
.aboutTitle,.formationTitle{
    background-color: #b9a06b;
}
.formation{
    font-family: "Special Elite", cursive;
}
.pieceWhite{
    height: 350px;
}
.piece1,.piece2,.piece3,.piece4 {
    position: relative;
    text-align: center;
    
  }
  
  .texteTp,.texteDoc,.texteEsra,.texteBac {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .date2021,.date2014,.date2004,.date1999{
      font-size: 30px;
  }